{% extends "base.html" %}

{% block content %}
<div class="col-md-10 offset-md-1 mt-5">
  <div class="jumbotron">
    <h1 class="display-4"><i class="fas fa-exclamation-triangle"></i></h1>
    <p class="lead font-italic">Saving Grace Primary School</p>
    <hr class="my-4">
<p class="lead font-italic">Oops! Stranger.. Danger!! Sorry you can't add or delete Students or Teachers to school's registry. Please Contact Michael Akintuyosi for your clearance. </p>
<p class="lead font-italic">You can view either list's below. Thanks  </p>
<hr class="my-4">
<div class="row">
  <div class="col-md-6">
    <a href="{% url 'StudentList' %}" class="btn btn-success btn-block btn-md"><i class="fas fa-school"></i> Student's List </a>
  </div>
  <div class="col-md-6">
  <a href="{% url 'EmployeeList' %}" class="btn btn-primary btn-block btn-md"><i class="fas fa-school"></i>
      Teacher's List
    </a>
  </div>
</div>
<hr class="my-4">

<a href="{% url 'homepage' %}" class="btn btn-primary btn-block btn-md d-inline "><i class="fas fa-stream"></i> Return to HomePage</a>
{% endblock content %}