{% extends "base.html" %}

{% block content %}
<div class="col-md-10 offset-md-1 mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Employee List</h1>
    <p class="lead font-italic">Saving Grace Primary School</p>
    <hr class="my-4">
<table class="table table-borderless">
  <thead class="border-bottom font-weight-bold">
    <tr>
      <td>Full Name</td>
      <td>Mobile</td>
      <td>Employee ID</td>
      <td>Position</td>
      <td>
        <a href="{% url 'EmployeeInsertForm' %}" class="btn btn-outline-success">
          <i class="fas fa-plus"></i> Add New
        </a>
      </td>
    </tr>
  </thead>
  <tbody>
    {% for employee in employee_list %}
    <tr>
      <td>{{employee.fullname}}</td>
      <td>{{employee.mobile_no}}</td>
      <td>{{employee.emp_code}}</td>
      <td>{{employee.position}}</td>
      <td>
        <a href="{% url 'EmployeeUpdateForm' employee.id %}" class="btn text-secondary px-0">
          <i class="far fa-edit fa-md"></i>
        </a>
        <form action="{% url 'EmployeeDelete' employee.id %}"  class="d-inline">{% csrf_token %}
          <button type="submit" class='btn'>
            <i class="far fa-trash-alt fa-md text-danger float-right"></i>
          </button>

        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock content %}