{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-10 offset-md-1 mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Register A New Student</h1>
    <p class="lead font-italic">Saving Grace Primary School</p>
    <hr class="my-4">
<form action='' method='POST' autocomplete="off">{% csrf_token %}
  {{form.fullname|as_crispy_field}}
  {{form.age|as_crispy_field}}
  <div class="row">
    <div class="col-md-4">
      {{form.home_address|as_crispy_field}}
    </div>
    <div class="col-md-8">
      {{form.year|as_crispy_field}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <button type="submit" class="btn btn-success btn-block btn-md"><i class="fas fa-database"></i> Submit</button>
    </div>
    <div class="col-md-4">
      <a href="{% url 'StudentList' %}" class="btn btn-primary btn-block btn-md"><i class="fas fa-stream"></i>
        Back to Records
      </a>
    </div>
  </div>
  
</form>
{% endblock content %}